:root {
  font-family: Roboto, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html,
body {
  position: fixed;
  overflow: hidden;
  inset: 0;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  line-height: 1;
}

.wrapper {
  height: 100vh;
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
  /*color: #277dff;*/
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: absolute;

  .panel {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    background-color: rgba(255, 255, 255, .35);
    padding: 16px;
    border-radius: 16px;
    margin: 16px;
    display: flex;
    flex-direction: column;
  }

  #viewport {
    overflow: hidden;
    height: 100%;
    width: 100%;

    canvas {
      height: 100%;
      width: 100%;
    }
  }
}


