:root {
  font-family: Roboto, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html,
body {
  position: fixed;
  overflow: hidden;
  inset: 0;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  line-height: 1;
}

@keyframes scrollAnimation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(calc(-12px - 50%));
  }
  100% {
    transform: translateX(calc(-24px - 100%));
  }
}

.wrapper {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: absolute;

  .toolbar {
    background-color: #4f3625;
    flex-shrink: 0;
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: flex-start;
    height: 54px;
    width: 100%;

    span {
      animation: scrollAnimation 2s linear infinite;
      font-size: 36px;
      font-weight: 500;
      font-style: italic;
      margin-top: -8px;
      color: white;
    }
  }

  #viewport {
    overflow: hidden;
    height: 100%;
    width: 100%;
    perspective: 500px;
    perspective-origin: 50% 50%;
    transform-style: preserve-3d;

    .joint-paper {
      /*background-color:lightsteelblue;*/
      perspective: 110px;
      transform-style: preserve-3d;
      transform-origin: 0 0;
      overflow: visible;

      .joint-paper-background {
        background-color: #f8f8f8;
        /*box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12);*/
        /*transform: rotateY(1deg) translateZ(-1px);*/
      }

      > svg {
        /*transform: translateZ(51px);*/
      }
    }
  }
}


