:root {
  font-family: Roboto, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

@keyframes scrollAnimation {
  0% {
    transform: translateX(0)
  }
  100% {
    transform: translateX(calc(-24px - 100%))
  }
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .toolbar {
    flex-shrink: 0;
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: flex-start;
    height: 54px;
    width: 100%;

    span {
      animation: scrollAnimation 2s linear infinite;
      font-size: 36px;
      font-weight: 500;
      font-style: italic;
      margin-top: -8px;
      text-shadow:
          -1px -1px 0 #d0d0d0,
          1px -1px 0 #d0d0d0,
          -1px 1px 0 #d0d0d0,
          1px 1px 0 #d0d0d0;
      color: white;
    }
  }

  #viewport {
    border-top: 1px solid lightgray;
    overflow: hidden;
    height: 100%;
    width: 100%;

    .joint-paper {
      transform-origin: 0 0;
      overflow: hidden;
    }
  }
}


