:root {
  font-family: Roboto, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

#viewport {
  overflow: hidden;
  height: 100vh;
  width: 100vw;

  .joint-paper {
    transform-origin: 0 0;
    overflow: hidden;
  }

  .canvas {
    position: absolute;
    top: 4px;
    right: 4px;
    border: 1px solid gray;
    pointer-events: none;
  }
}
